/* Reset default margin and padding */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
  }
  
  .logo h1 {
    font-size: 1.3rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
  }
  .logo h1:hover {
    transform: scale(1.3);
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin: 20px;
  }
  .nav-links li:hover {
    transform: scale(1.3);
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  .nav-links a:hover {
    color: lightgray;
  }

  