/* Table styles */
.container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-table {
    width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-size: 14px;
  }
  
  .data-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  /* Button styles */
  .edit-button, .delete-button {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  .delete-button {
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
  }
  .edit-button {
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .edit-button:hover, .delete-button:hover {
    background-color: #0056b3;
  }

  .delete-button:hover {
    background-color: darkred;
  }
